.annotations-container-outer {
  flex: 4;
  width: 100%;
  background-color: #F0F0F0;

  display: flex;
  justify-content: center;
}

.annotations-container-outer::-webkit-scrollbar {
  display: none;
}

.wait-screen {
  align-self: center;

  font-size: 18px;
}

.wait-screen:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 3000ms infinite;      
  animation: ellipsis steps(4,end) 3000ms infinite;
  content: "\2026";
  width: 0px;
}

.error-screen {
  align-self: center;

  font-size: 18px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.annotations-container-inner {
  display: flex;
  flex-direction: column;

  max-height: 80vh;
  width: 70%;
}

.annotations-header {
  flex: 2;

  display: flex;
  flex-direction: row;
}

.annotations-title {
  display: flex;
  align-items: center;

  font-size: 28px;
}

.annotations-segments {
  flex: 9;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.annotations-segments::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 900px) {
  .annotations-container-outer {
    height: 70vh;
  }
  .annotations-container-inner {
    width: 80%;
  }
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}