.playbutton-container {
}

.play-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  cursor: pointer;
  border-radius: 25px;
}

.play-button:hover {
  background-color: #202020;
}