.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #101010;
}

.body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buffer {
  flex: 6;
}

.audio {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-params {
  display: flex;
  flex-direction: row;
}

.upload-tip {
  flex: 6;
  max-width: 70vw;
  margin-top: 20px;
  text-align: center;

  color: #D0D0D0;
}

.output {
  flex: 4;
  width: 100%;
  background-color: #F0F0F0;

  display: flex;
  justify-content: center;
}

.output::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 900px) {
  .audio {
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .output {
    height: 70vh;
  }
}

@media only screen and (max-width: 400px) {
  .audio {
    margin-top: 7.5%;
    margin-bottom: 0%;
  }
}