.main {
  min-height: 100vh;
  background-color: #101010;
}

.body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audio {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  flex: 4;
  width: 100%;
  background-color: #F0F0F0;

  display: flex;
  justify-content: center;
}

.output::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 900px) {
  .audio {
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 10%;
  }
  .output {
    height: 70vh;
  }
}