.main {
  min-height: 100vh;
  background-color: #101010;
}

.body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.output {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.output::-webkit-scrollbar {
  display: none;
}